@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body{
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    background-color: $LightGrayishCyan;
}