@media (min-width: 375px) and (max-width: 414px) {

    .title {
        margin: 10px;
    }

    section#container{
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 585px) {

   
}

@media (max-width: 855px) {

    div#box_one{
        width: 100%;
    }
    
    div#box_two{
        width: 100%;        
    }

   
}

@media (min-width: 855px) {


    .box_display{
        border: 1px solid green;
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
   
}

@media (max-width: 980px) {

}

