/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

@media only screen and (max-width: 940px) {
    #tip_amount,
    #value_total{
        background-image: none;
    }


}

//PAREI AQUI
@media only screen and (min-width: 840px) {
    
    #container{
        
        
    }

    #box_one{
        display: block;
        width: 100%;
    }

    #box_two{
        display: block;
        width: 100%;
    }


}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}