.result_value{
    display: flex;

}

.label_space{
    margin-right: 15px;
    height: 50px;
    color: $VeryLightGrayishCyan;
    width: 50%;
    padding-top: 10px;
}

.input_height{
    height: 50px;
}