.subtitle{
    font-size: 14px;
    color: $DarkGrayishCyan;
    margin: 10px 0;

    &.amount,
    &.total_person{
        font-size: 12px;
    }

}

#tip_amount,
#value_total{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    
    background-color: $VeryDarkCyan;
    text-align: right;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px;
    
    

    &::placeholder{
        color: $primary;
    }
}